@font-face {
    font-family: vazir;
    src: url('../fonts/vazir/Vazir-Medium-FD-WOL.eot') format('embedded-opentype'),
        url('../fonts/vazir/Vazir-Medium-FD-WOL.ttf') format('truetype'),
        url('../fonts/vazir/Vazir-Medium-FD-WOL.woff') format('woff'),
        url('../fonts/vazir/Vazir-Medium-FD-WOL.woff2') format('woff2'),
}

@font-face {
    font-family: vazir-bold;
    src: url('../fonts/vazir/Vazir-Bold-FD-WOL.eot') format('embedded-opentype'),
        url('../fonts/vazir/Vazir-Bold-FD-WOL.ttf') format('truetype'),
        url('../fonts/vazir/Vazir-Bold-FD-WOL.woff') format('woff'),
        url('../fonts/vazir/Vazir-Bold-FD-WOL.woff2') format('woff2'),
}

@font-face {
    font-family: vazir-light;
    src: url('../fonts/vazir/Vazir-Light-FD-WOL.eot') format('embedded-opentype'),
        url('../fonts/vazir/Vazir-Light-FD-WOL.ttf') format('truetype'),
        url('../fonts/vazir/Vazir-Light-FD-WOL.woff') format('woff'),
        url('../fonts/vazir/Vazir-Light-FD-WOL.woff2') format('woff2'),
}

@font-face {
    font-family: vazir-thin;
    src: url('../fonts/vazir/Vazir-Thin-FD-WOL.eot') format('embedded-opentype'),
        url('../fonts/vazir/Vazir-Thin-FD-WOL.ttf') format('truetype'),
        url('../fonts/vazir/Vazir-Thin-FD-WOL.woff') format('woff'),
        url('../fonts/vazir/Vazir-Medium-FD-WOL.woff2') format('woff2'),
}